main.container {
	max-width: 50em;
}

article header time {
	color: var(--pico-muted-color);
	font-size: 0.875em;
}

pre {
	overflow-x: auto;
}

.katex-display {
	overflow-x: auto;
	overflow-y: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: 0.5em 1em;
	margin-top: 2em;
	padding-top: 1em;
	border-top: 1px dashed var(--pico-muted-border-color);
}

.links-nextprev a:last-child {
	text-align: right;
}

.intro-with-image {
	display: flex;
	gap: 1em;
	align-items: flex-start;
}

.intro-with-image ul {
	margin: 0;
}

.picture-box {
	display: block;
	background: var(--pico-muted-border-color);
	padding: 1em;
	border-radius: 1em;
	flex-shrink: 0;
}

.picture-box img {
	display: block;
	border-radius: 0.5em;
	max-width: 12em;
}
