/*
 *	Styles for the cycle animation.
 *  At the top level, we have a .cycleParent, which has a table child with td that
 *  are colored by .tortice and .hare.
 *  There is also a .cycleResults that has children with various text values
 *
*/

body.loading #impress {
	visibility: hidden;
}

.blurb {
	width: 30em;
}

.cyclecontrol {
	margin-bottom: 2em;
}

#cyclerstep.future {
	display: none;
}


/* Cycle table styles */

.cycleParent td {
  border: 1px solid black;
}

.cycleParent td .cellcontent {
  width: 12px;
  height: 12px;
}
.cycleParent td.cyclePast {
  background-color: darkgray;
}
.cycleParent td.cycleStart {
  background-color: gold;
}
.cycleParent td.cycleEnd {
  background-color: gold;
}
.cycleParent td.tortice {
  background-color: green;
}
.cycleParent td.hare {
  background-color: saddlebrown;
}
.cycleParent td.hare.tortice {
  background: olive;
}

/* Cycle results styles */


/* When a text field has any data, mark it */

.cycleResults .hasData {
  border: 1px solid green;
  padding: 0px 3px;
}

/* preliminaryData means there's going to be an update */

.cycleResults .hasData.preliminaryData {
  border-color: black;
  border-style: dashed;
  color: gray;
}
